# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3

# ENV
.env
.venv/
env/
venv/
ENV/

# VSCode
.vscode/

# Migrations
*/migrations/
!*/migrations/__init__.py

# Static and media
staticfiles/
media/

# IDEs
.idea/
.DS_Store
*.swp
